

fieldset {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 25em;

}

.joukkuenimi {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#sarjaSpan, #checkboxSpan {
    display: flex;
    margin-right: auto;
}

.radio, .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.jasen {
    display:flex;
    flex-direction: row;
    margin: 0.5em;
    justify-content: space-between;
}

